/* Новые тарифы */

.main > section.rates {
    padding: 0;
}

.rates::after {
    display: none;
}

.rates__bg-top {
    height: 135px; 
}

.rates__bg-bottom {
    position: relative!important;
}

.rates__header {
    position: relative;
}

.rates__header--base {
    padding-top: 55px;
}

.rates__header--base h1 {
    padding-top: 0;
}

.rates__content table {
    width: 100%;
}

.rates__content tr > td {
    width: 220px;
}

.rates__content tr > td:first-child {
    width: 318px;
}

.rates__arrow {
    position: absolute;
    top: 34px;
    content: "";
    display: none;
    width: 15px;
    height: 31px;
    background-image: url("../images/main_sprite.png");
    border: none;
}

.rates__arrow--left {
    left: 30px;
    background-position: -98px -851px;
}

.rates__arrow--right {
    right: 30px;
    background-position: -117px -851px;
}

.rates__content-top table {
    min-height: 162px;
}

.rates__content-top td {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: bottom;
    padding-bottom: 32px;
    color: #333;
}

.rates__content-top td .rates__logo--business {
    color: #02903d;
}

.rates__content-top td .rates__logo--vip {
    color: #ffa800;
}

.rates__logo {
    position: relative;
    display: block;
}

.rates__logo::before {
    position: absolute;
    top: -68px;
    left: calc(50% - 30px);
    content: "";
    display: block;
    width: 61px;
    height: 60px;
    background-image: url("../images/main_sprite.png");
}

.rates__logo--startup::before {
    background-position: -566px -848px;
}

.rates__logo--business::before {
    background-position: -632px -848px;
}

.rates__logo--vip::before {
    background-position: -700px -848px;
}

.rates__content-middle {
    background-color: #f2ede7;
}

.rates__content-middle td {
    height: 80px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.rates__content-middle strong {
    font-weight: 700;
}

.rates__content-middle tr > td:first-child {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 29px;
    background-color: #e1dcd6;
    color: black;
    border-bottom: 1px solid #f2ede7;
    border-right: none;
}

.rates__content-middle tr:first-child td {
    font-size: 34px;
    font-weight: 700;
}

.rates__content-middle tr:first-child td:first-child,
.rates__content-middle tr:nth-child(2) td:first-child {
    font-size: 15px;
    font-weight: 300;
}

.rates__content-middle tr:nth-child(2) td {
    font-size: 24px;
    font-weight: 300;
}

.rates__content-middle tr:nth-child(8) td:first-child span {
    display: block;
}

.rates-check {
    display: inline-block;
    width: 28px;
    height: 21px;
    background-image: url("../images/main_sprite.png");
    background-position: -564px -824px;
}

.rates__content-bottom .btn {
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 46px;
    margin-top: 26px;
    margin-bottom: 60px;
    margin-right: 0;
    padding: 0;
    border: 2px solid #ed1c24;
    color: #ed1c24;
}

.rates__content-bottom .btn:hover {
    background-color: #ed1c24;
    color: #fff;
    border: 2px solid #ed1c24;
}

.rate__helper {
    margin: 0;
}

.rate__helper .btn {
    color: #ffa800;
}

.rates__header--individual {
    height: 380px;
    padding-top: 79px;
    background-color: #02903d;
    color: #fff;
}

.rates__header--individual h1 {
    position: relative;
    margin-bottom: 20px;
    padding-top: 54px;
    color: #fff;
}

.rates__header--individual h1::before {
    position: absolute;
    top: -31px;
    left: calc(50% - 33px);
    content: "";
    display: block;
    width: 66px;
    height: 58px;
    background-image: url("../images/main_sprite.png");
    background-position: -766px -850px;
}

.rates__header--individual h1 > em {
    display: block;
    font-size: 30px;
    padding-bottom: 17px;
}

.rates__header--individual p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.rates__header--individual p > span {
    display: block;
}

.rates__header--individual .btn-circle {
    top: -8px;
}

.rates__header--individual > input + .accordeon__trigger {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -o-transition: -o-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

.rates__header--individual > input:checked + .accordeon__trigger {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
}

.rates__content--individual {
    position: relative;
}

.rates__content--individual::before {
    position: absolute;
    left: 50%;
    content: '';
    display: block;
    top: 0;
    margin: 0 0 0 -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px;
    border-color: transparent;
    border-top-color: #02903d;
}

.rates__content--individual .rates__content-top tr > td:first-child {
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 20px;
}

.rates__content--individual .rates__content-middle tr:first-child td:nth-child(2),
.rates__content--individual .rates__content-middle tr:nth-child(2) td:nth-child(2) {
    font-size: 15px;
    font-weight: 300;
}

.rates__content--individual .rates__content-middle td {
    height: 60px;
    line-height: 20px;
}

.rates__content--individual .rates__content-middle tr:first-child td {
    height: 20px;
    padding-top: 20px;
    border-bottom: none;
}

.rates__content--individual .rates__content-middle tr:last-child td {
    height: 48px;
    padding-bottom: 49px;
}

.rates__content--individual .rates__content-middle tr:nth-child(10) td {
    border-bottom: none;
}

.rates__content--individual .rates__content-middle tr:nth-child(2) td:nth-child(2),
.rates__content--individual .rates__content-middle tr:nth-child(3) td:nth-child(2),
.rates__content--individual .rates__content-middle tr:nth-child(4) td:nth-child(2),
.rates__content--individual .rates__content-middle tr:nth-child(5) td:nth-child(3),
.rates__content--individual .rates__content-middle tr:nth-child(6) td:nth-child(3),
.rates__content--individual .rates__content-middle tr:nth-child(7) td:nth-child(3),
.rates__content--individual .rates__content-middle tr:nth-child(8) td:nth-child(4),
.rates__content--individual .rates__content-middle tr:nth-child(9) td:nth-child(4),
.rates__content--individual .rates__content-middle tr:nth-child(10) td:nth-child(4) {
  cursor: pointer;
}

.rates__content--individual .rates__content-middle tr:nth-child(2) td:nth-child(2):hover,
.rates__content--individual .rates__content-middle tr:nth-child(3) td:nth-child(2):hover,
.rates__content--individual .rates__content-middle tr:nth-child(4) td:nth-child(2):hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.rates__content--individual .rates__content-middle tr:nth-child(5) td:nth-child(3):hover,
.rates__content--individual .rates__content-middle tr:nth-child(6) td:nth-child(3):hover,
.rates__content--individual .rates__content-middle tr:nth-child(7) td:nth-child(3):hover {
  background-color: #02903d;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.rates__content--individual .rates__content-middle tr:nth-child(8) td:nth-child(4):hover,
.rates__content--individual .rates__content-middle tr:nth-child(9) td:nth-child(4):hover,
.rates__content--individual .rates__content-middle tr:nth-child(10) td:nth-child(4):hover {
  background-color: #ffa800;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.rates__content--individual .rates__content-middle tr.rates__content-bg--1 td:nth-child(1) {
  background-color: #fff;
}

.rates__content--individual .rates__content-middle tr.rates__content-bg--2 td:nth-child(1),
.rates__content--individual .rates__content-middle tr.rates__content-bg--2 td:nth-child(2) {
  background-color: #fff;
}

.rates__content--individual .rates__content-middle tr.rates__content-bg--3 td:nth-child(1),
.rates__content--individual .rates__content-middle tr.rates__content-bg--3 td:nth-child(2),
.rates__content--individual .rates__content-middle tr.rates__content-bg--3 td:nth-child(3) {
  background-color: #fff;
}

@media screen and (max-width: 1023px) {

    .container--rates {
        max-width: 750px;
    }

    .rates__header--base.orange.patterned,
    .rates__content--individual + .rates__bg-bottom.black.patterned {
        display: block;
    }

    .rates__content tr > td {
        width: 148px;
    }

    .rates__content tr > td:first-child {
        width: 300px;
    }

    .rates__content-bottom .btn--750 {
        position: relative;
        width: 50px;
        height: 50px;
        font-size: 0;
        border-radius: 50%;
    }

    .rates__content-bottom .btn--750::before {
        position: absolute;
        top: -1px;
        left: 12px;
        content: "+";
        font-size: 40px;
        font-weight: 300;
        color: #ed1c24;
    }

    .rates__content-bottom .btn--750:hover::before {
        color: #fff;
    }

}

@media screen and (max-width: 749px) {

    .container--rates {
        width: 360px;
    }

    .rates__header--base.rates__bg-top {
        height: 96px;
        padding-top: 34px;
    }

    .rates__header--base h1 {
        font-size: 30px;
    }

    .rates__arrow {
        display: block;
    }

    .rates__content-top table {
        min-height: 140px;
    }

    .rates__content-top tr:first-child > td:nth-child(2),
    .rates__content-top tr:first-child > td:nth-child(3),
    .rates__content-top tr:first-child > td:nth-child(4) {
        position: absolute;
        top: 88px;
        left: 133px;
    }

    .rates__content tr > td {
        width: 93px;
        font-size: 14px;
    }

    .rates__logo::before {
        left: calc(50% - 30px);
    }

    .rates__content tr > td .rates__logo {
        font-size: 20px;
    }

    .rates__content tr > td:first-child {
        width: 256px;
    }

    .rates__content-middle tr:first-child td:first-child, 
    .rates__content-middle tr:nth-child(2) td:first-child,
    .rates__content-middle tr > td:first-child {
        font-size: 13px;
    }

    .rates__content-middle tr:nth-child(8) td:first-child span {
        display: inline;
    }

    .rates__content-middle tr:first-child td,
    .rates__content-middle tr:nth-child(2) td {
        font-size: 20px;
    }

    .rates__content tr > td:nth-child(3),
    .rates__content tr > td:nth-child(4) {
        display: none;
    }

    .rates__content-bottom table {
        min-height: 88px;
    }

    .rates__content-bottom .btn {
        position: absolute;
        top: -8px;
        left: calc(50% - 120px);
        width: 240px;
        background-color: #ed1c24;
        color: #fff;
    }

    .rates__header--individual {
        height: 420px;
        padding-top: 84px;
    }

    .rates__header--individual h1 {
        width: 315px;
        font-size: 23px;
        line-height: 27px;
        margin: 0 auto;
        margin-bottom: 28px;
    }

    .rates__header--individual h1::before {
        top: -36px;
    }

    .rates__header--individual h1 > em {
        display: inline;
        font-size: 23px;
    }

    .rates__header--individual h1 span {
        display: block;
    }

    .rates__header--individual p {
        width: 305px;
        font-size: 15px;
        margin: 0 auto;
    }

    .rates__header--individual p > span {
        display: inline;
    }

    .rates__content--individual .rates__content-top table {
        min-height: 208px;
    }

    .rates__content--individual .rates__content-top tr:first-child > td:nth-child(2),
    .rates__content--individual .rates__content-top tr:first-child > td:nth-child(3),
    .rates__content--individual .rates__content-top tr:first-child > td:nth-child(4) {
        top: 121px;
        left: 105px;
    }

    .rates__header--individual .btn-circle {
        top: 27px;
    }

    .rates__content--individual .rates__arrow {
        top: 67px;
    }

    .rates__content--individual .rates__content-top tr > td:first-child {
        padding-bottom: 16px;
    }

    .rates__content--individual tr > td {
        width: 174px;
        font-size: 14px;
    }

    .rates__content--individual .rates__content-middle tr:first-child td:nth-child(2), 
    .rates__content--individual .rates__content-middle tr:nth-child(2) td:nth-child(2),
    .rates__content--individual .rates__content-middle tr:first-child td:first-child, 
    .rates__content--individual .rates__content-middle tr:nth-child(2) td:first-child, 
    .rates__content--individual .rates__content-middle tr > td:first-child {
        width: 174px;
        font-size: 14px;
    }

    .rates__content--individual .rates__logo::before {
        left: calc(50% - 31px);
    }

    .rates__content--individual .rates__content-middle tr:last-child td {
        height: 0;
        padding-bottom: 18px;
    }

}

/* END - Новые тарифы */