/* Новые тарифы */

.rates::after {
    display: none;
}

.rates__bg-top {
    height: 135px;
}

.rates__bg-bottom {
    position: relative!important;
}

.rates__header {
    position: relative;
}

.rates__content table {
    width: 100%;
}

.rates__content tr > td {
    width: 220px;
}

.rates__content tr > td:first-child {
    width: 318px;
}

.rates__content-top table {
    min-height: 162px;
}

.rates__content-top td {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: bottom;
    padding-bottom: 32px;
    color: #333;
}

.rates__content-top td .rates__logo--business {
    color: #02903d;
}

.rates__content-top td .rates__logo--vip {
    color: #ffa800;
}

.rates__logo {
    position: relative;
    display: block;
}

.rates__logo::before {
    position: absolute;
    top: -68px;
    left: calc(50% - 30px);
    content: "";
    display: block;
    width: 61px;
    height: 60px;
    background-image: url("../images/main_sprite.png");
}

.rates__logo--startup::before {
    background-position: -566px -848px;
}

.rates__logo--business::before {
    background-position: -632px -848px;
}

.rates__logo--vip::before {
    background-position: -700px -848px;
}

.rates__content-middle {
    background-color: #f2ede7;
}

.rates__content-middle td {
    height: 80px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.rates__content-middle strong {
    font-weight: 700;
}

.rates__content-middle tr > td:first-child {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 29px;
    background-color: #e1dcd6;
    color: black;
    border-bottom: 1px solid #f2ede7;
    border-right: none;
}

.rates__content-middle tr:first-child td {
    font-size: 34px;
    font-weight: 700;
}

.rates__content-middle tr:first-child td:first-child,
.rates__content-middle tr:nth-child(2) td:first-child {
    font-size: 15px;
    font-weight: 300;
}

.rates__content-middle tr:nth-child(2) td {
    font-size: 24px;
    font-weight: 300;
}

.rates-check {
    display: inline-block;
    width: 28px;
    height: 21px;
    background-image: url("../images/main_sprite.png");
    background-position: -564px -824px;
}

.rates__content-bottom .btn {
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 46px;
    margin-top: 26px;
    margin-bottom: 60px;
    margin-right: 0;
    padding: 0;
    border: 2px solid #ed1c24;
    color: #ed1c24;
}

.rates__content-bottom .btn:hover {
    background-color: #ed1c24;
    color: #fff;
    border: 2px solid #ed1c24;
}

.rate__helper {
    margin: 0;
}

/* END - Новые тарифы */