/* Новые тарифы */

.main > section.rates {
    padding: 0;
}

.rates::after {
    display: none;
}

.rates__bg-top {
    height: 135px;
    /* padding-top: 55px; */
}

.rates__bg-bottom {
    position: relative!important;
}

.rates__header {
    position: relative;
}

.rates__content table {
    width: 100%;
}

.rates__content tr > td {
    width: 220px;
}

.rates__content tr > td:first-child {
    width: 318px;
}

.rates__content-top table {
    min-height: 162px;
}

.rates__content-top td {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    vertical-align: bottom;
    padding-bottom: 32px;
    color: #333;
}

.rates__content-top td .rates__logo--business {
    color: #02903d;
}

.rates__content-top td .rates__logo--vip {
    color: #ffa800;
}

.rates__logo {
    position: relative;
    display: block;
}

.rates__logo::before {
    position: absolute;
    top: -68px;
    left: calc(50% - 30px);
    content: "";
    display: block;
    width: 61px;
    height: 60px;
    background-image: url("../images/main_sprite.png");
}

.rates__logo--startup::before {
    background-position: -566px -848px;
}

.rates__logo--business::before {
    background-position: -632px -848px;
}

.rates__logo--vip::before {
    background-position: -700px -848px;
}

.rates__content-middle {
    background-color: #f2ede7;
}

.rates__content-middle td {
    height: 80px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

.rates__content-middle strong {
    font-weight: 700;
}

.rates__content-middle tr > td:first-child {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 20px;
    padding-right: 29px;
    background-color: #e1dcd6;
    color: black;
    border-bottom: 1px solid #f2ede7;
    border-right: none;
}

.rates__content-middle tr:first-child td {
    font-size: 34px;
    font-weight: 700;
}

.rates__content-middle tr:first-child td:first-child,
.rates__content-middle tr:nth-child(2) td:first-child {
    font-size: 15px;
    font-weight: 300;
}

.rates__content-middle tr:nth-child(2) td {
    font-size: 24px;
    font-weight: 300;
}

.rates-check {
    display: inline-block;
    width: 28px;
    height: 21px;
    background-image: url("../images/main_sprite.png");
    background-position: -564px -824px;
}

.rates__content-bottom .btn {
    width: 180px;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 46px;
    margin-top: 26px;
    margin-bottom: 60px;
    margin-right: 0;
    padding: 0;
    border: 2px solid #ed1c24;
    color: #ed1c24;
}

.rates__content-bottom .btn:hover {
    background-color: #ed1c24;
    color: #fff;
    border: 2px solid #ed1c24;
}

.rate__helper {
    margin: 0;
}

.rates__header--individual {
    height: 340px;
    padding-top: 86px;
    background-color: #02903d;
    color: #fff;
}

.rates__header--individual h1 {
    position: relative;
    margin-bottom: 20px;
    color: #fff;
}

.rates__header--individual h1::before {
    position: absolute;
    top: -38px;
    left: calc(50% - 33px);
    content: "";
    display: block;
    width: 66px;
    height: 58px;
    background-image: url("../images/main_sprite.png");
    background-position: -766px -850px;
}

.rates__header--individual .btn-circle {
    top: -5px;
}

.rates__header--individual > input + .accordeon__trigger {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -o-transition: -o-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
}

.rates__header--individual > input:checked + .accordeon__trigger {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.rates__content--individual {
    position: relative;
    display: none;
}

/* .rates__content--individual-visible {
    display: block;
} */

.rates__content--individual::before {
    position: absolute;
    left: 50%;
    content: '';
    display: block;
    top: 0;
    margin: 0 0 0 -12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px;
    border-color: transparent;
    border-top-color: #02903d;
}

.rates__content--individual .rates__content-top tr > td:first-child {
    color: black;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    padding-left: 20px;
}

.rates__content--individual .rates__content-middle tr:first-child td:nth-child(2),
.rates__content--individual .rates__content-middle tr:nth-child(2) td:nth-child(2) {
    font-size: 15px;
    font-weight: 300;
}

.rates__content--individual .rates__content-middle td {
    height: 60px;
    line-height: 20px;
}

.rates__content--individual .rates__content-middle tr:first-child td {
    height: 20px;
    padding-top: 20px;
    border-bottom: none;
}

.rates__content--individual .rates__content-middle tr:last-child td {
    height: 48px;
    padding-bottom: 49px;
}

.rates__content--individual .rates__content-middle tr:nth-child(10) td {
    border-bottom: none;
}

.rates__content--individual .rates__content-middle tr:nth-child(2) td:nth-child(2),
.rates__content--individual .rates__content-middle tr:nth-child(3) td:nth-child(2),
.rates__content--individual .rates__content-middle tr:nth-child(4) td:nth-child(2),
.rates__content--individual .rates__content-middle tr:nth-child(5) td:nth-child(3),
.rates__content--individual .rates__content-middle tr:nth-child(6) td:nth-child(3),
.rates__content--individual .rates__content-middle tr:nth-child(7) td:nth-child(3),
.rates__content--individual .rates__content-middle tr:nth-child(8) td:nth-child(4),
.rates__content--individual .rates__content-middle tr:nth-child(9) td:nth-child(4),
.rates__content--individual .rates__content-middle tr:nth-child(10) td:nth-child(4) {
  cursor: pointer;
}

.rates__content--individual .rates__content-middle tr:nth-child(2) td:nth-child(2):hover,
.rates__content--individual .rates__content-middle tr:nth-child(3) td:nth-child(2):hover,
.rates__content--individual .rates__content-middle tr:nth-child(4) td:nth-child(2):hover {
  background-color: #333;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.rates__content--individual .rates__content-middle tr:nth-child(5) td:nth-child(3):hover,
.rates__content--individual .rates__content-middle tr:nth-child(6) td:nth-child(3):hover,
.rates__content--individual .rates__content-middle tr:nth-child(7) td:nth-child(3):hover {
  background-color: #02903d;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.rates__content--individual .rates__content-middle tr:nth-child(8) td:nth-child(4):hover,
.rates__content--individual .rates__content-middle tr:nth-child(9) td:nth-child(4):hover,
.rates__content--individual .rates__content-middle tr:nth-child(10) td:nth-child(4):hover {
  background-color: #ffa800;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.rates__content--individual .rates__content-middle tr.rates__content-bg--1 td:nth-child(1) {
  background-color: #fff;
}

.rates__content--individual .rates__content-middle tr.rates__content-bg--2 td:nth-child(1),
.rates__content--individual .rates__content-middle tr.rates__content-bg--2 td:nth-child(2) {
  background-color: #fff;
}

.rates__content--individual .rates__content-middle tr.rates__content-bg--3 td:nth-child(1),
.rates__content--individual .rates__content-middle tr.rates__content-bg--3 td:nth-child(2),
.rates__content--individual .rates__content-middle tr.rates__content-bg--3 td:nth-child(3) {
  background-color: #fff;
}

/* END - Новые тарифы */